<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Directory </ion-title>
  </ion-navbar>
</ion-header>

<!-- class="sidebar" -->
<div class="{{isMapLegendsVisible?'sidebar mapLegendsInMobile':'sidebar mapLegendsInWeb'}}">
  <div class="blue-search-block">
    <search-destination></search-destination>
  </div>
  <!-- <div *ngIf="isDirectionSetpsVisible"  class="buttonsPrintEmail"><button class="emailButton"></button><button class="printButton"></button></div> -->
  <!-- class="directory" -->
  <div *ngIf="initiateDirectory " class="directory">
    <direction-list></direction-list>
  </div>
  <filter-destination *ngIf="isFilterDestinationInitiated"></filter-destination>
  <direction-steps *ngIf="isDirectionSetpsVisible"></direction-steps>
</div>

<ion-content padding>
  <div class="{{showMapLegendsInMobile?'mapLegendsInMobile':'mapLegendsInWeb'}}">
  <map-legends *ngIf="isMapLegendsVisible" [legendsConfig]="intitiateMapLegends"></map-legends>
</div>
<div class="form-group searchTextForAutoComplete ">
  <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
</div>

  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="googleMapZoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

  <div class="controls">
   <button *ngIf="isMapLegendsButtonVisible" class="showMapLegendButton" (click)="enableMobileLegendsInMobile()"></button>
  </div>
</ion-content>