<div class="printOverlay displayTableRows">
  <div class="directionsDiv" *ngIf="!isShowStepsSlider">
    <p class="estimatedTime" *ngIf="directionStepsNote">{{directionStepsNote}}</p>
    <p class="buttonsPrintEmail">
      <button class="emailButton"></button>
      <button class="printButton"></button>
    </p>
    <ion-list class="stepsAccordion">
      <ion-item *ngFor="let step of directionStepsTitle; let i = index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <h3 class="directionStepsHeading">
          {{step.EnglishLanguageKey}}
          <button class="viewMap" (click)="showMap(stepsArray[i] , i)">View Map</button>
          <!-- <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon> -->
        </h3>
        <ol *ngIf="isGroupShown(i)">
          <li *ngFor="let direction of stepsArray[i]">
            <span class="directionIcon" [ngClass]="direction.directionClass"></span>
            <span class="directionContent" [innerHTML]="direction.description"></span>
          </li>
        </ol>
      </ion-item>
    </ion-list>
  </div>
</div>

<div class="stepsSliderMobile" *ngIf="mobileDirectionSteps" attr.name="{{isShowStepsSlider?'showSlider':'hideSlider'}}">
  <!-- paginationType="bullets"  autoplay="2000"-->
  <ion-slides (tap)="swipeEvent($event)" (ionSlideReachStart)="setStartOfSlides()" (ionSlideReachEnd)="setEndOfSlides()" direction="horizontal" initialSlide="{{initialSlide}}" pager="false" slidesPerView="1"
     spaceBetween="50" #slides>
    <ion-slide  *ngFor="let step of mobileDirectionSteps">
      <h1>{{step.description}}</h1>
    </ion-slide>
  </ion-slides>
  <button class="prevSliderButton" *ngIf="isShowPrevSliderButton" ion-button icon-only clear (click)="getPrev()"><ion-icon name="arrow-back"></ion-icon></button>
  <button class="nextSliderButton" *ngIf="isShowNextSliderButton" ion-button icon-only clear (click)="getNext()"><ion-icon name="arrow-forward"></ion-icon></button>
</div>