header-logo{
    .app-cache-version
    {
        top:0;
        text-align:center;
        width:100%;
        height:22%;
        font-weight:bold;
        position:absolute;
        background-color:white;
    }
    .top-logo{
        max-width: 128px;
        top: 4px !important;
        right: 22px !important;
        position: absolute;
    }
}